@charset "UTF-8";


/* This is to display borders */
/** { border: 1px dotted red }*/


/*
  Reset CSS, border-box model
*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*
  App-wide common styles.
 */


html, body {
  position: relative;
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  background: #ebeef4;
}


/*
  Typography
*/


h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #3b5998;
  line-height: 1;
}
p, ul, ol, table {
  font-family: Helvetica, Verdana, sans-serif;
}


h1 {
  font-size: 2.5em;
}
h1.page-header {
  padding-bottom: 20px;
}
/*
h2 { font-size: 2.0em; }
h3 { font-size: 1.7em; }
*/
h4 { font-size: 1.2em; }
p  {
  font-size: 0.9em;
  line-height: 1.3em;
  color: #6d84b4
}
a {
  color: #0e1f56;
  text-decoration: none;
}
a:hover {
  color: #33ccff;
}
/* Adjust the block width responsively */
.wrapper {
  display: block;
  width: 90%;
  margin: 0 auto;
}
/* This is a section inside of the wrapper */
.row {
  display: block;
  padding-bottom: 40px;
  overflow: hidden;  /* This is to prevent the margin collapsing */
}
.row+hr {
  margin-bottom: 40px;
}
/* This is a special wrapper for a page content */
.wrapper.page-content {
  margin: 20px auto;
}
.clearfix {
  clear: both;
}


/*
  #app-navbar
 */


#app-navbar {
  background: #3b5998; /* rgba(59, 89, 152, 0.6); */
  color: white;
  display: block;
  clear: both;
  overflow: hidden;  /* This is to prevent the margin collapsing */
}
#logo {
  font-size: 3.0em;
  letter-spacing: -1px;
  color: white;
  cursor: default;  /* Default cursor instead of the finger pointing */
  text-align: left;
}
#logo~p {  /* paragraph that is a sibling of #logo */
  margin-top: -5px;
  padding: 3px 0;
  line-height: 1.5em;
  cursor: default;  /* Default cursor instead of the finger pointing */
  text-align: left;
}
hgroup {
  float: left;
  display: block;
  width: 100%;
  margin-top: 10px;
  text-align: center;
}
hgroup p {
  color: #eee;
  font-size: 0.9em;
  padding-bottom: 5px;
}
nav {
  display: block;
}
nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0 auto;
}
nav li {
  display: inline-block;
  width: 100%;
  border-top: 1px solid #999;
}
nav li a {
  display: block;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  height: 40px;
  padding: 0 12px;
  color: white;
  transition: color 0.6s, background 0.6s;
}
nav li a.active {
  background: none;
  color: white;
  cursor: default;  /* Default cursor instead of the finger pointing */
  background: #6d84b4;
}
nav li a:hover {
  background: #293e6a;
  color: white;
}
nav li a.active:hover {
  background: #6d84b4;
}
.hamburger {
  position: absolute;
  right: 12px;
  top: 20px;
  width: 32px;
  height: 32px;
  visibility: visible;
  cursor: pointer;
}
.hamburger:hover {
  border: 1px solid yellow;
}


/*
  jumbotron
*/


#jumbotron {
  display: block;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
  background: url("../img/beehive.jpg");
  background-size: cover;
  background-position: center;
}


/*
  footer
 */


footer {
  display: block;
  clear: both;
  padding: 20px 0;
  overflow: hidden;  /* This is to prevent the margin collapsing */
  color: #3b5998;
  border-top: 1px solid #afbdd4;
  margin-top: 40px;
}


/*
  ng-animate
  - http://ng.malsup.com/#!/css-animations-for-ng-hide_ng-show
 */


.ng-hide-add, .ng-hide-remove {
    /* ensure visibility during the transition */
    display: block !important; /* yes, important */
}
.cssSlideUp {
    transition: .5s linear all;
    height: 250px;
}
.cssSlideUp.ng-hide {
    height: 0;
}
/*
.cssFade {
    transition: 0.5s linear all;
    opacity: 1;
}
.cssFade.ng-hide {
    opacity: 0;
}
*/


/*
  All figures
*/


figure {
  float: left;
  margin: 1%;
  background: white;
  padding: 10px;
}
figure img {
  width: 200px;
}
figure h4 {
  line-height: 1.2;
  padding: 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
figure hr {
  margin: 5px 0;
}
figure .description,
figure .description p {
  vertical-align: top;
  overflow: hidden;
}
figure .read-more {
  display: block;
  padding: 5px 0 0 0;
  color: #3b5998;
}


/*==========  Custom, iPhone Retina  ==========*/
@media only screen and (min-width : 320px) {

}


/*==========  Extra Small Devices, Phones  ==========*/
@media only screen and (min-width : 480px) {


  /*
    #app-navbar
   */


  #logo,
  #logo~p {  /* paragraph that is a sibling of #logo */
    text-align: center;
  }
  hgroup {
    display: block;
    margin-top: 10px;
  }
  hgroup p {
    font-size: 0.9em;
    padding-bottom: 5px;
  }
  nav {
    display: block;
    width: 100%;
  }
  nav ul {
    display: block;
  }
  nav li {
    display: inline-block;
    width: auto;
    border-top: none;
  }
  nav li a {
    display: block;
    line-height: 60px;
    height: 60px;
    padding: 0 12px;
  }


  /* This removes unnecessary margin of first and last columns */
  .three-columns
  .five-columns {
    margin: 0 -1.1%;
  }


  /*
    .three-columns
   */


  .three-columns figure img {
    width: 100%;
    display: inline-block;
    width: 38%;
    padding-right: 10px;
  }
  .three-columns figure .description {
    display: inline-block;
    width: 60%;
  }


  /*
    .five-columns
   */


  .five-columns figure {
    width: 31.33%;
  }
  .five-columns figure img {
    width: 100%;
  }
  .five-columns figure .description {
    height: 200px;
    overflow: hidden;
  }

}

/*==========  Small Devices, Tablets  ==========*/
@media only screen and (min-width : 768px) {


  /*
    #app-navbar
   */


  #logo,
  #logo~p {  /* paragraph that is a sibling of #logo */
    text-align: left;
  }
  hgroup {
    display: inline-block;
    margin-top: 10px;
    width: 30%;
    float: left;
  }
  hgroup p {
    font-size: 0.9em;
    padding-bottom: 5px;
  }
  nav {
    display: inline-block;
    width: 70%;
    float: right;
  }
  nav ul {
    display: block;
  }
  nav li {
    display: inline-block;
    width: auto;
    border-top: none;
  }
  nav li a {
    line-height: 80px;
    height: 80px;
    padding: 0 12px;
  }

  #jumbotron {
    height: 300px;
  }


  /*
    .three-columns
   */


  .three-columns figure {
    width: 31.33%;
  }
  .three-columns figure img {
    width: 100%;
  }
  .three-columns figure .description {
    width: 100%;
  }
  .three-columns figure .description p {
    height: 100px;
  }

}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {


  /*
    .five-columns
   */


  .five-columns figure {
    width: 18%;
  }
  .five-columns figure img {
  }
  .five-columns figure .description p {
    height: 200px;
  }
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
