<app-navbar></app-navbar>

<div class="wrapper page-content">

  <h1>Description</h1>

  <p>
    Bees are flying insects closely related to wasps and ants, known for their
    role in pollination and, in the case of
    the best-known bee species, the European honey bee, for producing honey and
    beeswax. Bees are a monophyletic lineage within the superfamily Apoidea,
    presently considered as a clade Anthophila. There are nearly 20,000 known
    species of bees in seven to nine recognized families, though many are
    undescribed and the actual number is probably higher. They are found on
    every continent except Antarctica, in every habitat on the planet that
    contains insect-pollinated flowering plants.
  </p>

  <app-footer></app-footer>

</div>
