<app-navbar></app-navbar>

<div class="page gallery container">

  <h1>Gallery</h1>

  <div class="card-columns bees" >

    <div class="card bee" ng-repeat="bee in vm.bees">

      <!-- Image of a bee -->
      <a ng-href="{{ bee.linkUrl }}">
        <img
          class="card-img-top"
          ng-src="{{ bee.imgUrl }}"
          alt="{{ bee.name }}"
          title="{{ bee.name }}"
          style="width: 100%;" >
      </a>

      <!-- Name and description of a bee -->
      <div class="card-block">
        <h4
          class="card-title"
          ng-if="bee.name.length > 1">
          {{ bee.name }}
        </h4>
        <p
          class="card-text"
          ng-if="bee.desc.length > 1">
          {{ bee.desc }}
        </p>
        <a
          ng-if="bee.linkUrl.length > 1"
          ng-href="{{ bee.linkUrl }}"
          class="btn btn-primary">
          Details
        </a>
      </div>

    </div><!-- /.bee -->

  </div><!-- /.bees -->

</div><!-- /.gallery -->
