<app-navbar></app-navbar>

<div class="wrapper">

  <div  class="row">
    <div class="three-columns">
      <figure ng-repeat="n in [1,2,3]">
        <img src="http://placehold.it/80?text=a" alt="">
        <div class="description">
          <h4>Image title</h4>
          <hr>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
      </figure>
    </div>
  </div>

  <div  class="row">
    <div class="five-columns">
      <figure ng-repeat="n in [1,2,3,4,5]">
        <img src="http://placehold.it/80?text=a" alt="">
        <div class="description">
          <h4>Image title</h4>
          <hr>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
      </figure>
    </div>
  </div>

  <app-footer></app-footer>

</div><!-- /.wrapper -->

