<app-navbar></app-navbar>

<div class="wrapper page-content">

  <h1>Species</h1>

  <div  class="row">
    <div class="five-columns">
      <figure ng-repeat="bee in vm.bees">

        <a ng-href="{{ bee.linkUrl }}">
          <img
            class="card-img-top"
            ng-src="{{ bee.imgUrl }}"
            alt="{{ bee.name }}"
            title="{{ bee.name }}" >
        </a>

        <div class="description">
          <h4>{{ bee.name }}</h4>
          <hr>
          <p>
            {{ bee.desc | limitTo: 123 }} {{ bee.length < 123 ? '' : '...' }}
          </p>
        </div>

      </figure>
    </div>
  </div>
  <app-footer></app-footer>

</div>


