<div class="app-navbar">
  <div class="wrapper">
    <hgroup>

      <!-- Hamburger button -->
      <button type="button"
         class="hamburger"
         ng-click="$ctrl.toggleMenu()">
        &#9776;
      </button>

      <a ng-href="{{ $ctrl.paths[ 0 ] }}">
        <h1 id="logo">Bees</h1>
        <p>This is a website about bees</p>
      </a>
    </hgroup>

    <nav ng-show="$ctrl.isShownMenu">
      <ul>
        <li
          class="nav-item"
          ng-repeat="label in $ctrl.labels track by $index"
          ng-class="{ active: label === $ctrl.activeTab }" >

          <a
            ng-href="{{ $ctrl.paths[ $index ] }}"
            ng-class="{ active: label === $ctrl.activeTab }"
            class="nav-link">
            {{ label }}
          </a>

        </li>
      </ul>
    </nav>
  </div>
</div>
